.qna-container {
  width: 300px;
  margin-right: 15px;
  height: auto;
  background-color: #f0f0f070;
  padding: 10px 25px 10px 25px;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0px 5px 30px #a7a7a750;
  transition: all ease 0.2s 0s;
}
.qna-container:hover {
  cursor: pointer;
  transform: scale(1.015);
  transition: all ease 0.2s 0s;
}
.qna-title {
  font-weight: bold;
}
.qna-content {
  font-size: nomal;
  color: #505050;
}
.post-container {
  width: 900px;
  margin: 0 auto;
}
.recent-post .title-post-topic {
  font-weight: bolder;
  margin-bottom: 25px;
}
.post-all-container {
  max-width: 900px;
  display: flex;
}
.qna-container a {
  text-decoration: none;
}
.post-loading {
  color: #727272;
  font-weight: bolder;
  font-size: small;
}
.q-text textarea {
  padding: 2px 5px 2px 5px;
  margin-top: 15px;
  width: 700px;
  height: 200px;
  font-family: 'Noto Sans KR', sans-serif;
  border-radius: 5px;
  border: solid 2px #d8d8d8;
  font-weight: bold;
  outline: none;
  resize: none;
}
textarea:focus {
  outline: none;
  border: solid 2px #c5ceff;
}
input {
  margin-top: 15px;
  padding: 5px 10px 5px 10px;
  width: 700px;
  font-weight: bold;
  height: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: large;
  border-radius: 5px;
  border: solid 2px #d8d8d8;
  outline: none;
}
input:focus {
  outline: none;
  border: solid 2px #c5ceff;
}
button {
  background-color: #ffffff;
  outline: none;
  border: 1px solid #bbbbbb;
  padding: 5px 10px 5px 10px;
  font-family: 'Noto Sans KR', sans-serif;
  border-radius: 5px;
  font-weight: bold;
  transition: all ease 0.2s 0s;
}
button:hover {
  background-color: #f7f7f788;
  cursor: pointer;
  transition: all ease 0.2s 0s;
}
.q-text {
  margin: 0 auto;
  margin-top: 50px;
}
.q-text-topic {
  font-weight: bolder;
}
