.tag {
  border: solid 1px #bbbbbb;
  color: #494949;
  border-radius: 24px;
  padding: 7px 22px;
  font-weight: bolder;
  cursor: default;
  margin-left: 7px;
  transition: all ease 0.2s 0s;
  a {
    text-decoration: none !important;
  }
}
.tag:hover {
  background-color: #ebebeb;
  transition: all ease 0.2s 0s;
}
.tag-size-large {
  font-size: medium;
}
.tag-size-medium {
  font-size: smaller;
}
.tag-size-small {
  font-size: small;
}
