.tag {
  background-color: #e2efff;
  color: #6e9cff;
  border-radius: 7px;
  padding: 4px 7px 4px 7px;
  font-weight: bolder;
  cursor: default;
  margin-left: 7px;
  transition: all ease 0.2s 0s;
}
.tag:hover {
  background-color: #cbe2ff;
  color: #5d90ff;
  border-radius: 7px;
  padding: 4px 7px 4px 7px;
  font-weight: bolder;
  cursor: default;
  margin-left: 7px;
  transition: all ease 0.2s 0s;
}
.tag-size-large {
  font-size: large;
}
.tag-size-medium {
  font-size: medium;
}
.tag-size-small {
  font-size: small;
}
