.bottom {
  margin-top: 85px;
  margin-bottom: 0px;
  width: 100%;
  min-height: 150px;
  font-weight: bold;
  text-align: center;
  font-size: smaller;
  color: #7c7c7c;
  .ICONFOOTER {
    fill: #7c7c7c;
  }
  .bottomdiv {
    padding-top: 50px;
  }
  #instagram {
    padding-bottom: 5px;
  }
}
