.card {
  width: 230%;
  height: 110px;
  background-color: #ffffff70;
  padding: 5px 10px 5px 10px;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0px 1px 5px #b2a9b85d;
  transition: all ease 0.2s 0s;
}
.card:hover {
  box-shadow: 0px 1px 10px #b2a9b85d;
  transition: all ease 0.2s 0s;
  transform: translate(0px, -5px);
  cursor: pointer;
}
.card-text {
  margin-left: 5%;
  padding-top: 8px;
}
.des {
  font-size: medium;
  padding-top: 5px;
}
.au {
  color: #9c9c9c;
  font-size: smaller;
  margin-top: 8px;
}
.title-card {
  margin-top: 5px;
  font-weight: bolder;
  font-size: larger;
}
.card a {
  text-decoration: none;
}
.card-container {
  margin-top: 5%;
}
