body {
  background-color: #ffffff !important;
}
.post {
  margin-left: 20%;
  max-width: 60%;
}
hr {
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  border: solid 1px #e7e7e7;
}
.author {
  margin-top: 10%;
  img {
    border-radius: 55px;
    width: 45px;
    height: 45px;
    display: inline-block;
    float: left;
    margin-right: 15px;
  }
  .des {
    color: #272727;
    font-size: smaller;
  }
}
.time {
  color: #a7a7a7;
  font-size: small;
}
.p-tags {
  margin-top: 7%;
}

h2 {
  margin-top: 7%;
}
h3 {
  margin-top: 2%;
}
