.author-s {
    margin-top: 10%;
    text-align: center;
    img {
        border-radius: 55px;
        width: 75px !important;
        height: 75px !important;
        display: inline-block;
        float: left;
    }
    strong {
        font-size: larger;
    }
    .des {
        color: #272727;
    }
}