@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import '~highlight.js/styles/atom-one-dark-reasonable.css';
body {
  margin: 0;
  margin-top: 0;
  background-color: #eeeeee;
  position: relative;
  min-width: 1024px;
  min-height: 768px;
  height: 100%;
  font-size: 17px;
}

:root {
  font-family: 'Noto Sans KR', sans-serif;
}

code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: smaller;
  border-radius: 5px;
  background-color: #ffe1e194;
  padding-left: 5px;
  padding-right: 5px;
  padding: 2px 5px 2px 5px;
}
.hljs {
  width: 80%;
  padding: 15px 15px;
}
#root {
  min-width: 1024px;
  min-height: 768px;
  height: 100%;
}
a {
  text-decoration: underline #ffc7c7 2px;
  color: inherit;
}
.app {
  margin-top: 85px;
}

body ::-webkit-scrollbar {
  width: 10px;
}
body ::-webkit-scrollbar-thumb {
  background-color: #b1b1b1b2;
  border-radius: 13px;
  background-clip: padding-box;
  border: 5px solid transparent;
}
::selection {
  background-color: #ffe2e2a9;
}
button {
  margin-left: 40%;
  margin-top: 5%;
}
[aria-label] {
  position: relative;
}
/*
[aria-label]:before {
  border-bottom: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #00000000;
  content: '';
  top: -15px;
  position: absolute;
  transition: all ease 0.1s 0s;
}
[aria-label]:hover:before {
  border-bottom: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
  position: absolute;
  border-top: 10px solid #f1f1f1;
  transition: all ease 0.1s 0s;
}
*/
[aria-label]:after {
  content: attr(aria-label);
  position: absolute;
  bottom: 45px;
  left: 0;
  z-index: 5000;
  pointer-events: none;
  padding: 5px 7px;
  line-height: 15px;
  margin-right: 1%;
  white-space: nowrap;
  text-decoration: none;
  text-indent: 0;
  overflow: visible;
  font-size: 0.75em;
  font-weight: 1.4em;
  color: #00000000;
  background-color: #00000000;
  border-radius: 5px;
  transition: all ease 0.1s 0s;
}

[aria-label]:hover:after {
  color: rgb(56, 56, 56);
  background-color: #f1f1f1;
  transition: all ease 0.1s 0s;
}
blockquote {
  margin: 0;
}
blockquote p {
  padding: 15px;
  border-radius: 5px;
  border-left: 5px solid #d8d8d8;
  color: #6e6e6e;
  font-style: italic;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}
$top-h: 40px;
h1 {
  margin-top: $top-h;
}
h2 {
  margin-top: $top-h;
}
h3 {
  margin-top: $top-h;
}
h4 {
  margin-top: $top-h;
}
h5 {
  margin-top: $top-h;
}
h6 {
  margin-top: $top-h;
}
